JWT_SECRET="soque a cabeca no teclado e ve o que sai"
DEFAULT_PORT=3000
DATABASE_URL="mongodb://localhost:27017/api-desafio" 

# deixei a URL do banco de dados para facilitar a configuração pra voce testar , alem da porta e o secret do JWT